<p id="notice"><%= notice %></p>

<form>
<div class="mb-3">
  <h5>Author:</h5>
  <p><%= @article.author_name %></p>
</div>
<hr>
<div class="mb-3">
<b>Headline:</b>
  <p><%= @article.headline %></p>
</div>
<div class="mb-3">
<b>Body:</b>
 <p><%= @article.body %></p>
</div>
<hr>
</form>

<% if policy(@article).edit? %>
<td><%= link_to 'Edit', edit_user_article_path(@article.user, @article), class: "btn btn-secondary" %>
<% end %>
<%= link_to 'Back', root_path, class: "btn btn-primary" %>
